In [36]:
# Import required libraries

import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore
from datetime import datetime, timedelta  # Make sure this line is added
import pytz
from faker import Faker
import random
import pandas as pd
import numpy as np

In [2]:
# Set the environment variable to the path of the service account key
# set GOOGLE_APPLICATION_CREDENTIALS=C:\default/path/to/service/account/key.json

# Specify the path to your service account key
cred_path = r"default/path/to/service/account/key.json"

# Use the Certificate method to load the service account key
cred = credentials.Certificate(cred_path)

# Initialize the Firebase app with the credentials
firebase_admin.initialize_app(cred)

# Access Firestore
db = firestore.client()

#### Read data from Table - Users

In [3]:
# Reference to a specific document
doc_ref = db.collection('Users').document('CiMRgVGMNpfLiRZ0D03Q')
doc = doc_ref.get()

# Check if the document exists and print its data
if doc.exists:
    print('Document data:', doc.to_dict())
else:
    print('No such document!')

Document data: {'lastName': 'McMohan', 'firstName': 'Jamie', 'id': 'UID52612988', 'interests': ['programming', 'stamp collection'], 'lastLogin': DatetimeWithNanoseconds(2023, 12, 15, 10, 3, 1, tzinfo=datetime.timezone.utc), 'locationCity': 'Toronto', 'discipline': 'Data Analytics', 'updatedAt': DatetimeWithNanoseconds(2024, 4, 5, 0, 19, 7, tzinfo=datetime.timezone.utc), 'dob': DatetimeWithNanoseconds(1997, 12, 23, 0, 0, tzinfo=datetime.timezone.utc), 'industry': 'mining', 'profilePhoto': 'image1', 'expertise': 'python', 'createdAt': DatetimeWithNanoseconds(2024, 4, 13, 23, 19, 18, tzinfo=datetime.timezone.utc), 'email': 'matthewsdonald@yahoo.com'}

#### Read data from Table - Communities

In [4]:


doc_ref = db.collection('Communities').document('202IF7YC92eRfw9egHCO')
doc = doc_ref.get()

# Check if the document exists and print its data
if doc.exists:
    print('Document data:', doc.to_dict())
else:
    print('No such document!')

Document data: {'createdAt': DatetimeWithNanoseconds(2022, 4, 24, 1, 13, 52, 677000, tzinfo=datetime.timezone.utc), 'members': ['Fahd', 'Alberto', 'Daniel', 'Yuan', 'Rowan', 'Jane', 'Vidya', 'Orkhan'], 'communityId': '000001', 'updatedAt': DatetimeWithNanoseconds(2024, 3, 31, 21, 18, 24, 794000, tzinfo=datetime.timezone.utc), 'communityName': 'Data'}

In [5]:
# Fetch all user IDs from the Users collection
users_ref = db.collection('Users')
users = users_ref.stream()

user_ids = [user.get('id') for user in users if user.exists]

#### Intialise Faker

In [14]:
# Initialize Faker
fake = Faker()

#### Update the Communities table with Fake data

In [15]:
# Code commented out to prevent accidental execution
# Generate data for 10 communities
# for i in range(10):
#     # Create timestamps between Jan 2020 to Dec 2022 for createdAt
#     start_date = datetime(2020, 1, 1)
#     end_date = datetime(2022, 12, 31)
#     time_between_dates = end_date - start_date
#     days_between_dates = time_between_dates.days
#     random_number_of_days = random.randrange(days_between_dates)
#     created_at = start_date + timedelta(days=random_number_of_days)

#     # Create timestamps between 2023 to 2024 for updatedAt
#     start_update_date = datetime(2023, 1, 1)
#     end_update_date = datetime(2024, 12, 31)
#     time_between_updates = end_update_date - start_update_date
#     days_between_updates = time_between_updates.days
#     random_number_of_update_days = random.randrange(days_between_updates)
#     updated_at = start_update_date + timedelta(days=random_number_of_update_days)

#     # Randomly select member IDs from the fetched user IDs
#     member_ids = random.sample(user_ids, random.randint(50, 100))

#     # Generate community IDs
#     community_id = f'00000{random.randint(10, 99)}'

#     # Generate random community names
#     community_name = fake.word().capitalize()

#     # Create document in Firestore
#     community_ref = db.collection('Communities').document()
#     community_ref.set({
#         'createdAt': created_at,
#         'updatedAt': updated_at,
#         'members': member_ids,
#         'communityId': community_id,
#         'communityName': community_name
#     })

# print("Data generation complete.")

Data generation complete.

#### Read Data from Communities Table

In [5]:
# Read rows from Communities collection
communities_ref = db.collection('Communities')
communities = communities_ref.stream()

# Create an empty list to store the data
data = []

# Iterate over the documents and store the data in the list
for community in communities:
    data.append(community.to_dict())

# Convert the list to a DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

df.shape

                          createdAt  \
0  2022-04-24 01:13:52.677000+00:00
1         2022-09-29 00:00:00+00:00
2         2020-12-14 00:00:00+00:00
3         2021-12-16 00:00:00+00:00
4         2020-09-15 00:00:00+00:00
5         2022-01-29 00:00:00+00:00
6         2022-05-13 00:00:00+00:00
7         2022-04-26 00:00:00+00:00
8         2021-09-21 00:00:00+00:00
9         2022-09-22 00:00:00+00:00
10        2022-12-07 00:00:00+00:00

                                              members communityId  \
0   [Fahd, Alberto, Daniel, Yuan, Rowan, Jane, Vid...      000001
1   [UID37883100, UID75356431, UID35833983, UID565...     0000079
2   [UID18092847, UID46173593, UID36935153, UID870...     0000033
3   [UID36491462, UID80484184, UID32202512, UID398...     0000063
4   [UID60913427, UID27256216, UID79938371, UID871...     0000058
5   [UID35833983, UID50278766, UID90810398, UID110...     0000086
6   [UID38975172, UID14061201, UID14598015, UID895...     0000071
7   [UID97468961, UID34942095, UID31389026, UID543...     0000054
8   [UID38454297, UID19028953, UID54190844, UID747...     0000076
9   [UID57842425, UID89732140, UID43803187, UID573...     0000077
10  [UID19952648, UID81379226, UID72214264, UID577...     0000051

                          updatedAt communityName
0  2024-03-31 21:18:24.794000+00:00          Data
1         2024-08-25 00:00:00+00:00          Miss
2         2023-01-10 00:00:00+00:00       Pattern
3         2024-05-06 00:00:00+00:00          Most
4         2024-07-20 00:00:00+00:00          Join
5         2023-12-05 00:00:00+00:00          Road
6         2024-10-10 00:00:00+00:00        Effort
7         2023-05-22 00:00:00+00:00       Produce
8         2024-07-14 00:00:00+00:00          City
9         2024-10-19 00:00:00+00:00          Free
10        2023-04-11 00:00:00+00:00          Next

(11, 5)

#### Read again from Users collection 

**Read again from Users collection after having changes**

In [29]:
# Read rows from Users collection
users_ref = db.collection('Users')
users = users_ref.stream()

# Create an empty list to store the data
data = []

# Iterate over the documents and store the data in the list
for user in users:
    data.append(user.to_dict())

# Convert the list to a DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
df.head()

,lastName,firstName,id,interests,lastLogin,locationCity,discipline,experience,updatedAt,dob,industry,profilePhoto,expertise,createdAt,email,locationState,locationCountry
0,McMohan,Jamie,UID52612988,"[programming, stamp collection]",2023-12-15 10:03:01+00:00,Toronto,Data Analytics,4,2024-04-05 00:19:07+00:00,1997-12-23 00:00:00+00:00,mining,image1,python,2024-04-13 23:19:18+00:00,matthewsdonald@yahoo.com,Toronto,Toronto
1,Graham,Laura,UID10035003,"[cloud computing, cooking]",2024-10-06 01:13:43+00:00,New York,software development,5,2024-11-13 09:47:51+00:00,1970-11-25 01:56:10+00:00,manufacturing,image378,JavaScript,2022-07-08 23:23:23+00:00,antoniowalker@example.com,New York,New York
2,Monroe,Paul,UID10073687,"[machine learning, photography]",2024-09-28 21:47:38+00:00,San Antonio,data analytics,4,2024-11-24 05:16:17+00:00,1981-12-11 10:34:33+00:00,healthcare,image915,C#,2023-06-14 14:25:21+00:00,fishermary@example.net,San Antonio,San Antonio
3,Martin,Joshua,UID10211318,"[machine learning, stamp collection]",2024-11-12 06:05:14+00:00,Phoenix,data analytics,3,2024-10-12 08:43:58+00:00,1984-10-11 12:32:31+00:00,technology,image305,SQL,2020-03-10 07:22:15+00:00,fergusonjennifer@example.com,Phoenix,Phoenix
4,Briggs,Peter,UID10254936,"[AI development, volunteering]",2024-10-04 08:27:04+00:00,Miami,data analytics,2,2024-11-13 20:07:54+00:00,1981-04-08 12:52:15+00:00,hospitality,image161,python,2023-07-05 08:48:00+00:00,marystout@example.org,Miami,Miami

#### Rename the field 'location' to 'locationCity'

In [18]:
# # Rename the 'location' field in the Users collection to 'locationCity'
# users_ref = db.collection('Users')
# users = users_ref.stream()

# for user in users:
#     user_ref = db.collection('Users').document(user.id)
#     user_ref.update({
#         'locationCity': user.get('location')
#     })

# print("Field renamed successfully.")

# # Separately delete the column location since we created a new column locationCity

Field renamed successfully.

#### Get the list of Unique cities to add state and country details from the dataframe

In [11]:
# Read the locationCity field from the Users collection
users_ref = db.collection('Users')
users = users_ref.stream()

# Create an empty list to store the data
data = []

# Iterate over the documents and store the data in the list
for user in users:
    data.append(user.to_dict())

# Convert the list to a DataFrame
df = pd.DataFrame(data)

# Display the locationCity field in the DataFrame
#print(df['locationCity'])

# Filter the DataFrame to display only the unique values of locationCity field
unique_cities = df['locationCity'].unique()

unique_cities

array(['Toronto', 'New York', 'San Antonio', 'Phoenix', 'Miami',
       'Chicago', 'Vancouver', 'Philadelphia', 'Los Angeles', 'Houston'],
      dtype=object)

#### Create State and Country mapping for each City in the dataframe

In [19]:
# Create a mapping of locationCity to state and locationCity to country using a dictionary

# Define the mapping of locationCity to state
city_to_state = { 'Toronto': 'Ontario', 'Vancouver': 'British Columbia', 'San Antonio' : 'Texas', 'Phoenix': 'Arizona', 'Miami':'Florida', 'Chicago':'Illinois', 'New York': 'New York', 'Philadelphia':'Pennsylvania',
                 'Los Angeles': 'California', 'Houston': 'Texas'
                    }  

city_to_country = { 'Toronto': 'Canada', 'Vancouver': 'Canada', 'San Antonio' : 'United States', 'Phoenix': 'United States', 'Miami':'United States', 'Chicago':'United States', 'New York': 'United States', 'Philadelphia':'United States',
                   'Los Angeles': 'United States', 'Houston': 'United States'
                    }

# Create a new column in the DataFrame to store the state
df['locationState'] = df['locationCity'].map(city_to_state)

# Create a new column in the DataFrame to store the country
df['locationCountry'] = df['locationCity'].map(city_to_country)

#### Check if mapping has been done properly in the dataframe

In [21]:
#  Check the unique combinations 'locationCity', 'locationState', 'locationCountry'
unique_rows = df[['locationCity', 'locationState', 'locationCountry']].drop_duplicates()
print(unique_rows)

    locationCity     locationState locationCountry
0        Toronto           Ontario          Canada
1       New York          New York   United States
2    San Antonio             Texas   United States
3        Phoenix           Arizona   United States
4          Miami           Florida   United States
9        Chicago          Illinois   United States
12     Vancouver  British Columbia          Canada
16  Philadelphia      Pennsylvania   United States
19   Los Angeles        California   United States
21       Houston             Texas   United States

#### Create new columns locationState and locationCountry in the Firestore Users collection

In [22]:
# # Add the new columns locationState and locationCountry to the Firestore Users collection
# users_ref = db.collection('Users')
# users = users_ref.stream()

# for user in users:
#     user_ref = db.collection('Users').document(user.id)
#     user_ref.update({
#         'locationState': user.get('locationCity'),
#         'locationCountry': user.get('locationCity')
#     })

# print("Fields added successfully.")

Fields added successfully.

#### Add new column 'Experience'

*Add a new field 'experience' to the Users collection

*Experience will be a random number between 0 and 20, with majority of the users having experience between 0 to 1 years, followed by 1 to 5 years, and then 5 to 20 years

In [26]:
import random
from collections import Counter

# Given distribution with some predefined counts
experience_distribution = {0: 250, 1: 200, 2: 150, 3: 75, 4: 90, 5: 65}

# Total numbers to generate
total_numbers = 1001

# Calculate the sum of predefined numbers
current_sum = sum(experience_distribution.values())

# Determine how many numbers are needed to reach 1001
remaining_numbers = total_numbers - current_sum

# Assuming you want the random numbers to be from 0 to 20 as well
all_possible_values = list(range(0, 21))  # This includes 0 to 20

# Fill up the remaining numbers randomly
for _ in range(remaining_numbers):
    num = random.choice(all_possible_values)
    if num in experience_distribution:
        experience_distribution[num] += 1
    else:
        experience_distribution[num] = 1

# Verify the distribution
print("Final counts:", experience_distribution)
print("Total count:", sum(experience_distribution.values()))

# Generating the full list of experiences
experience_list = []
for key, count in experience_distribution.items():
    experience_list.extend([key] * count)

# Shuffle the list to randomize the order of numbers
random.shuffle(experience_list)

# Output the first 10 numbers to verify randomness
print("Sample of generated numbers:", experience_list[:10])

Final counts: {0: 256, 1: 209, 2: 157, 3: 78, 4: 98, 5: 71, 9: 8, 8: 9, 13: 6, 6: 12, 10: 15, 11: 9, 20: 7, 17: 9, 18: 10, 7: 6, 19: 8, 16: 8, 12: 7, 15: 12, 14: 6}
Total count: 1001
Sample of generated numbers: [0, 4, 2, 5, 3, 0, 1, 0, 4, 1]

#### Add the generated experience values into a new column in the Users Collection

In [27]:
# Add experience to the Users collection
users_ref = db.collection('Users')
users = users_ref.stream()

# Iterate over the documents and update the experience field
for user in users:
    user_ref = db.collection('Users').document(user.id)
    user_ref.update({
        'experience': random.choice(experience_list)
    })

print("Experience added successfully.")

Experience added successfully.

In [31]:
# Assuming 'df' is your DataFrame and 'experience' is the column of interest
distribution = df['experience'].value_counts()

# To get the distribution in percentage form
percentage_distribution = df['experience'].value_counts(normalize=True) * 100

# Printing the results
print("Distribution of experience values:")
print(distribution)

print("\nPercentage distribution of experience values:")
print(percentage_distribution)

Distribution of experience values:
experience
0     237
1     214
2     170
4     100
3      73
5      64
10     21
6      16
8      13
16     12
9      11
15     11
11     11
18      8
13      7
14      7
20      7
17      7
19      6
12      5
7       1
Name: count, dtype: int64

Percentage distribution of experience values:
experience
0     23.676324
1     21.378621
2     16.983017
4      9.990010
3      7.292707
5      6.393606
10     2.097902
6      1.598402
8      1.298701
16     1.198801
9      1.098901
15     1.098901
11     1.098901
18     0.799201
13     0.699301
14     0.699301
20     0.699301
17     0.699301
19     0.599401
12     0.499500
7      0.099900
Name: proportion, dtype: float64

**Check the count of the 'experience' values**

In [32]:
distribution.sum()

1001

**Finally check the dataframe**

In [33]:
df.head()

,lastName,firstName,id,interests,lastLogin,locationCity,discipline,experience,updatedAt,dob,industry,profilePhoto,expertise,createdAt,email,locationState,locationCountry
0,McMohan,Jamie,UID52612988,"[programming, stamp collection]",2023-12-15 10:03:01+00:00,Toronto,Data Analytics,4,2024-04-05 00:19:07+00:00,1997-12-23 00:00:00+00:00,mining,image1,python,2024-04-13 23:19:18+00:00,matthewsdonald@yahoo.com,Toronto,Toronto
1,Graham,Laura,UID10035003,"[cloud computing, cooking]",2024-10-06 01:13:43+00:00,New York,software development,5,2024-11-13 09:47:51+00:00,1970-11-25 01:56:10+00:00,manufacturing,image378,JavaScript,2022-07-08 23:23:23+00:00,antoniowalker@example.com,New York,New York
2,Monroe,Paul,UID10073687,"[machine learning, photography]",2024-09-28 21:47:38+00:00,San Antonio,data analytics,4,2024-11-24 05:16:17+00:00,1981-12-11 10:34:33+00:00,healthcare,image915,C#,2023-06-14 14:25:21+00:00,fishermary@example.net,San Antonio,San Antonio
3,Martin,Joshua,UID10211318,"[machine learning, stamp collection]",2024-11-12 06:05:14+00:00,Phoenix,data analytics,3,2024-10-12 08:43:58+00:00,1984-10-11 12:32:31+00:00,technology,image305,SQL,2020-03-10 07:22:15+00:00,fergusonjennifer@example.com,Phoenix,Phoenix
4,Briggs,Peter,UID10254936,"[AI development, volunteering]",2024-10-04 08:27:04+00:00,Miami,data analytics,2,2024-11-13 20:07:54+00:00,1981-04-08 12:52:15+00:00,hospitality,image161,python,2023-07-05 08:48:00+00:00,marystout@example.org,Miami,Miami